.pieCharts {
    position: inherit;
}
.pieChart1 {
    height: 350px;
    width: 350px;
    -webkit-box-shadow: 5px 5px 21px -14px #000000; 
    box-shadow: 5px 5px 21px -14px #000000;
}
.pieChart2 {
    height: 350px;
    width: 350px;
    -webkit-box-shadow: 5px 5px 21px -14px #000000; 
    box-shadow: 5px 5px 21px -14px #000000;
}
.pieChart3 {
    height: 350px;
    width: 350px;
    -webkit-box-shadow: 5px 5px 21px -14px #000000; 
    box-shadow: 5px 5px 21px -14px #000000;
}
.pieChart4 {
    height: 350px;
    width: 350px;
    -webkit-box-shadow: 5px 5px 21px -14px #000000; 
    box-shadow: 5px 5px 21px -14px #000000;
}
.pieChart5 {
    height: 350px;
    width: 350px;
    -webkit-box-shadow: 5px 5px 21px -14px #000000; 
    box-shadow: 5px 5px 21px -14px #000000;
}

.pieChart1:hover {
    height: 400px;
    width: 400px;
    -webkit-box-shadow: 5px 5px 7px 0px rgba(0,0,0,0.98); 
    box-shadow: 5px 5px 7px 0px rgba(0,0,0,0.98);
}
.pieChart2:hover {
    height: 400px;
    width: 400px;
    -webkit-box-shadow: 5px 5px 7px 0px rgba(0,0,0,0.98); 
    box-shadow: 5px 5px 7px 0px rgba(0,0,0,0.98);
}
.pieChart3:hover {
    height: 400px;
    width: 400px;
    -webkit-box-shadow: 5px 5px 7px 0px rgba(0,0,0,0.98); 
    box-shadow: 5px 5px 7px 0px rgba(0,0,0,0.98);
}
.pieChart4:hover {
    height: 400px;
    width: 400px;
    -webkit-box-shadow: 5px 5px 7px 0px rgba(0,0,0,0.98); 
    box-shadow: 5px 5px 7px 0px rgba(0,0,0,0.98);
}
.pieChart5:hover {
    height: 400px;
    width: 400px;
    -webkit-box-shadow: 5px 5px 7px 0px rgba(0,0,0,0.98); 
    box-shadow: 5px 5px 7px 0px rgba(0,0,0,0.98);
}