.beforeAi {
    flex: 4;
}

.pieCharts {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

h1 {
    position: relative;
    padding: 10px 10px;
    left: 900px;
    font-size: 18px;
}

