/* Main topbar css */
.topbar {
    width: 100%;
    height: 70px;
    background-color: rgb(253, 253, 255); /* Maybe change to white? */
    position: sticky;
    top: 0;
    z-index: 999;
}

.middle h2 {
    color: #d3d3d3;
}

.middle h2:hover {
    color: #fad6a5;
}

.topbarWrapper {
    height: 100%;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Maybe 'space-evenly/around' is more appropriate for allplan website */
}

.logo {
    cursor: pointer;
    /* Remove the following code if you change 'space-between' above: */
    position: relative;
    left: 80px;
}

.topLeft {
    margin-top: 20px;
    
}

.sidebarButton {
    position: absolute;
    left: 11px;
}

.topRight {
    display: flex;
    align-items: center;
}

.topbarIconContainer {
    position: relative;
    cursor: pointer;
    margin-right: 20px;
    margin-top: 12px;
}

.topIconBadge {
    width: 15px;
    height: 15px; 
    position: absolute;
    top: -5px;
    right: 0px;
    background-color: lightsalmon;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
}

.topAvatar {
    width: 37px;
    height: 37px;
    border-radius: 50%;
    cursor: pointer;
    margin-top: 12px;
}

