.container {
    display: flex;
}

.Collapsible__trigger {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    color: rgb(187, 186, 186);
    position: relative;
    left: 33px
}

.Collapsible__trigger.is-open svg {
    transform: rotate(180deg);
}
